@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Estilo CSS */
.estrelas {
  position: relative;
}

.chuva {
  position: absolute;
  animation: chuvaAnimacao 4s linear infinite;
}

@keyframes chuvaAnimacao {
  10% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

.fundo {
  background-image: url(/espaco.webp);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container-pai {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  place-content: space-around;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  margin-top: -10%;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-info {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.text {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in;
}

/* Texts */
.title {
  justify-content: center;
  display: flex;
  top: 0;
  color: #fffafa;
  font-size: 3em;
  font-weight: bold;
}

.subtitle {
  color: #fffafa;
  letter-spacing: 3px;
  font-size: 2em;
}

.animacao {
  display: flex;
  flex-wrap: wrap;
}

.astronauta img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .astronauta img {
    width: 100px;
    height: 100px;
  }
}

.hover-me {
  font-size: 1.5em;
  margin-top: 15%;
  margin-left: -15%;
  z-index: 1;
  color: #ffffff9c;
  text-align: center;
  height: 30px;
  transition-duration: 1s;
}

.card:hover .hover-me {
  color: #faffff;
  scale: 1.2;
  transition-duration: 1s;
}

.box-animacao {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  animation: subirDescer 6s infinite;
}

.animacao .hover-me:hover {
  animation-duration: 2s;
}

@keyframes subirDescer {

  0%,
  100% {
    transform: translateY(40px);
    /* A posição inicial e final da imagem */
  }

  50% {
    transform: translateY(-40px);
  }
}

/* Buttons */
.social-media {

  font-size: 2em;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  color: #fffafa;
  flex-wrap: wrap;
}



a {
  text-align: center;
  margin: 20px;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  color: #faffff;
}

a:hover {
  scale: 1.2;
  transition-duration: 0.5s;
}

.card:hover .social-media .text {
  transform: translateY(-5%);
  opacity: 1;
}

.card:hover .social-media .text:nth-child(1) {
  transition-delay: 0s;
}

.card:hover .social-media .text:nth-child(2) {
  transition-delay: .1s;
}

.card:hover .social-media .text:nth-child(3) {
  transition-delay: .2s;
}