 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 body {
     margin: 0;
     padding: 0;
     height: 100vh;
     background-color: rgba(228, 181, 101, 0.601);
 }

 ul {
     list-style-type: none;
 }

 nav {
     width: 100%;
     height: 60px;
     background-color: rgb(221, 189, 137);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .text-slim {
     font-size: 20px;
     color: rgb(80, 66, 48);
 }

 .titulo-menor {
     color: rgb(80, 66, 48);
     font-size: 30px;
 }

 .titulo {
     font-size:7vw;
     color: rgb(80, 66, 48);
 }

 .text-marrom:hover {
     transform: scale(1.3);
     transition: .5s;
     cursor: pointer;
 }

 .menu {
     display: flex;
     flex-wrap: wrap;
     gap: 7%;
     width: 100%;
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
     color: rgb(72, 49, 21);
     flex-direction: row;
     justify-content: center;
 }

 .container-pai {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
 }

 .container-capa {
    margin-top: 2%;
     min-width: 300px;
     max-width: 400px;
     width: 50%;
     display: flex;
 }

 .container-capa img {
     border: 6px solid rgb(125, 93, 50);
     border-radius: 15%;
     overflow: hidden;
 }

 .container-pai-info {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .primeiro-filho {
    justify-content: center;
     display: flex;
     width: 100%;
     display: flex;
     min-width:300px;
 }

 .segundo-filho {
     width: 100%;
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-around;
 }

 .produto {
     display: flex;
     width: 200px;
     height: 200px;
     border: 6px solid rgb(125, 93, 50);
     border-radius: 15%;
     overflow: hidden;
 }

 .produto img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: bottom;
 }

 .produto:hover {
     background-color: rgba(245, 245, 220, 0.208);
     border-radius: 20px;
     transform: scale(1.1);
     transition: .5s;
     cursor: pointer;
 }

 .terceiro-filho {
    margin-bottom: 10%;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     gap: 20px;
     margin-top: 20px;
     justify-content: space-around;
 }

 button {
     width: 206px;
     height: 80px;
     background-color: rgb(162, 131, 92);
     border: none;
     border-radius: 5px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: #fff;
     font-size: 25px;
     cursor: pointer;
 }

 .text-botao {
     width: 60%;
 }

footer{
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    background-color: rgb(221, 189, 137);
}